<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">
  <Appenders>
    <Appender type="Console" name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Appender>

    <Appender type="File" name="File" fileName="logs/numbo.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Appender>
  </Appenders>
    
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
    <Root level="info">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
